CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
.cproject
.project
.settings
*.swp
check
main
src/submission.cpp
src/submission.o
*.pyc
*.log
callgrind*
cachegrind*
scoresBySig*
ranksBySig*
run_seq
run_conc
data_builder
gt_check
rank_compressor
